<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Prueba</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="contaner col-11">
        <div class="container">
            <div class="row">
                <h1><%= pasaje.mensaje %></h1>
            </div>
            <ul>
                <li>ID: <%= pasaje.id_pasaje %></li>
                <li>Num Bus: <%= pasaje.num_bus %></li>
                <li>ID ruta: <%= pasaje.id_ruta %></li>
                <li>Precio: <%= pasaje.precio %></li>
                <li>Fecha Salida: <%= pasaje.fecha_hora_salida %></li>
                <li>Fecha Llegada: <%= pasaje.fecha_hora_llegada %></li>
            </ul>
        </div>
    </div>
</body>
</html>