<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Prueba</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="contaner col-11">
        <div class="row">
            <div class="col-4">
                <h1>Listado de Pasajes</h1>
            </div>
            <div class="col-8">
                <h1>Origen: <%= origen %> Destino <%= destino %></h1>
            </div>
        </div>
        <div class="container">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cant asientos</th>
                        <th>Tipo asientos</th>
                        <th>Precio</th>
                        <th>Fecha Salida</th>
                        <th>Terminal Salida</th>
                        <th>Fecha LLegada</th>
                        <th>Terminal Legada</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(pasaje){ %>
                        <% for (var i=0; i < pasaje.length; i++){ %>
                            <tr>
                                <td><%= pasaje[i].id_pasaje  %></td>
                                <td><%= pasaje[i].cant_asientos  %></td>
                                <td><%= pasaje[i].tipo_asientos  %></td>
                                <td><%= pasaje[i].precio  %></td>
                                <td><%= pasaje[i].fecha_hora_salida  %></td>
                                <td><%= pasaje[i].t_origen  %></td>
                                <td><%= pasaje[i].fecha_hora_llegada  %></td>
                                <td><%= pasaje[i].t_destino  %></td>
                            </tr>
                        <%} %>
                    <%} %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>